www.voltobahrain.online {
    redir https://voltobahrain.online{uri} permanent
}


www.admin.voltobahrain.online {
    redir https://admin.voltobahrain.online{uri} permanent
}



voltobahrain.online {

    handle /socket.io/* {
        reverse_proxy api:3000
    }

    # -----------------------
    # API reverse proxy
    # -----------------------
    handle /api/* {
        reverse_proxy api:3000
    }


    # -----------------------
    # Well-known files
    # -----------------------
    handle /.well-known/* {
        root * /srv/.well-known
        file_server
    }

    # -----------------------
    # Web SPA
    # -----------------------
    handle {
        root * /srv/web
        encode gzip
        file_server
        try_files {path} /index.html
    }

    log {
		level ERROR
        format console
    }
}


admin.voltobahrain.online {
    root * /srv/admin
    encode gzip
    file_server
    try_files {path} /index.html

    log {
		level ERROR
        format console
    }
}

